<!DOCTYPE html>
<html>

<head>
	<title>Vue JS </title>
	<!-- Vue CDN -->
</head>

<body>
	<div id="app">
		<ul >
			<!-- <li v-for="name in names">{{ name }}</li> -->
			<!-- Both are Same -->
			<li v-for="name in names" v-text="name"> </li>
		</ul>
		<input type="text" name="" id="add" v-model="newName">
		<!-- <button type="submit" id="button" v-on:click="addName">Add</button> -->
		<button type="submit" id="button" @click="addName">Add</button>
	</div>
</body>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script type="text/javascript">

	// Vue New App
	var app = new Vue({
		el: '#app',
		data: {
			newName: '',
			names: ['John', 'Doe', 'Alex', 'Peter']
		},

		methods: {
			addName() {
				this.names.push(this.newName);
				this.newName = '';
  			}
		},

	})
</script>
</html>