<!DOCTYPE html>
<html>

<head>
	<title>Vue JS </title>
	<!-- Vue CDN -->
	<style type="text/css">
		.color-red{ color: red; }
 		.is-loading{ background: red }
	</style>
</head>

<body>
	<div id="app">
		<h2>All Task</h2>
		<li v-for="task in tasks"  v-text="task.description">
		</li>
		<h2>Incomplete Task</h2>
		<li v-for="task in incompleteTask" v-text="task.description"></li>
		
	</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script type="text/javascript">

	// Vue New App
	var app = new Vue({
		el: '#app',
		data: {
			message: 'hellow world',

			tasks:[
				{description: 'First task', completed: false },
				{description: 'Second task', completed: true },
				{description: 'Third task', completed: false },
				{description: 'Fourth task', completed: true },
				{description: 'Fifth task', completed: false },
				{description: 'Sixth task', completed: false },

			]
		}, 

		computed:{

			reverseMessage () {
				return this.message.split('').reverse().join('');
			}, 

			incompleteTask(){
				return this.tasks.filter(task => !task.completed);
			}
		}
	})
</script>
</html>